
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    font-family: Arial, sans-serif;
    background-color: rgb(0, 189, 176);
    color: rgb(165, 0, 0);
}

.site-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #bd0202;
    padding: 15px 40px ;
    color: azure;
}
.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;

}
.nav-links li a{
    color: azure;
    text-decoration: none;
    font-size: 18 px;
}